body {
    background-color:#FFFFFF;
    color:#666666;
    font-family:Ariel,sans-serif;
    margin-left:auto;
    margin-right:auto;
    width:80%;
}
h1 {
    background-color:#000033;
    color:#FFFFFF;
    font-family:Georgia, serif;
    line-height:200%;
}
nav {
    font-weight: bold;
    background-color:#90C7E3;
}
h2 {
    color:#3399CC;
    font-family:Georgia,serif;
}
dt {
    font-weight: bold;
    color:#000033;
}

.resort {
    font-size:1.2em;
    color:#000033;
}
footer {
    font-size:.70em;
    font-weight:bold;
    font-style:italic;
    text-align:center;
}
